/* ***VARIABLES *** */
:root {
    --bg-color: #fbfbfd;
    --nav-bg-color: rgba(251, 251, 253, 0.8);
    --primary-text-color: #1d1d1f;
    --secundary-text-color: #86868b;
    --accent-color: #0071e3;
    --accent-hover: #0077ed;
    
    --btn-bg-color: #0071e3;
    --btn-text-color: #ffffff;
    --btn-border-color: #0071e3;
    --btn-bg-color-hover: #0077ed;
    --btn-border-color-hover: #0077ed;

    --border-color: #d2d2d7;

    --main-font-family: 'Inter', sans-serif;
}